html {

}
body {
  width:100%;
  font-family: helvetica;
}
.mainTopHeader {
  text-align: center;
}
.headerbar {
  width:100%;
  background-color: #9e809a;
  height: 5px;
}
.mainbackground {
  background-image: url('../img/hoopesbackground.jpg');
  background-size:contain;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.8;
  width: 100%;
  height:70vh;
  padding-top: 10px;
}
.loginform {
text-align: center;
font-size: 25px;
/*opacity: 0.5;*/
}
/*.loginform:hover {
  opacity: 1;
}*/
#logininput {
  font-size: 25px;
  margin: 5px;
  text-align: center;
}
.mainFooter {
  width: 100%;
  background-color: #4b4b4b;
  height: 50px;
  position:absolute;
  bottom:0;
  padding: 25px;
}
.copyright {
  display: inline-block;
  position: absolute;
  left:50px;
  color: white;

}
.bottomFootImg {
  display: inline-block;
  float:right;
  margin-right: 50px;
}
.headerMenu {
  width: 100%;
  text-align: center;
  background-color: #9e809a;
  height: 40px;
}
.linkContainer {
  list-style-type: none;
  height: 100%;
  display:flex;
  justify-content: center;
}
.headLink {
  width:30%;
  padding:5px;
  font-family: helvetica;
  font-size: 20px;
  text-decoration: none;
  color:white;
}
.headLink:hover {
  color: lightgrey;

}
.leftMenu {
  height:50vh;
  width:25%;
  background-color: black;
}
